# 1. Ignore everything
/*
!.gitignore
# 2. Un-ignore the .i3 folder (if it is in the root)
!.i3/
!.config/
# 3. Inside .config, ignore everything again (because we un-ignored the whole folder in step 2)
.config/*

# 4. BUT, inside .config, do NOT ignore the polybar folder
!.config/polybar/
